In [1]:
# Exploração e Consolidação de Dados de E-commerce

import pandas as pd
import os

# Caminhos para os dados
raw_data_path = os.path.join('..', 'data', 'raw')
processed_data_path = os.path.join('..', 'data', 'processed')
os.makedirs(processed_data_path, exist_ok=True)

# 1. Carregar os dados
df_clientes = pd.read_csv(os.path.join(raw_data_path, 'clientes.csv'))
df_produtos = pd.read_csv(os.path.join(raw_data_path, 'produtos.csv'))
df_pedidos = pd.read_csv(os.path.join(raw_data_path, 'pedidos.csv'))

print("Dados carregados com sucesso!")

# 2. Exploração Inicial dos Dados
print("\n--- df_clientes Info ---")
df_clientes.info()
print("\n--- df_clientes Head ---")
print(df_clientes.head())

print("\n--- df_produtos Info ---")
df_produtos.info()
print("\n--- df_produtos Head ---")
print(df_produtos.head())

print("\n--- df_pedidos Info ---")
df_pedidos.info()
print("\n--- df_pedidos Head ---")
print(df_pedidos.head())

# Converter 'data_pedido' para datetime para facilitar manipulações
df_pedidos['data_pedido'] = pd.to_datetime(df_pedidos['data_pedido'])
print("\n'data_pedido' convertida para datetime.")
df_pedidos.info()

# 3. Consolidação dos Dados

# Merge pedidos com clientes
df_consolidado = pd.merge(df_pedidos, df_clientes, on='id_cliente', how='left')
print("\n--- Após merge com clientes ---")
print(df_consolidado.head())
print(f"Shape após merge com clientes: {df_consolidado.shape}")

# Merge com produtos
df_consolidado = pd.merge(df_consolidado, df_produtos, left_on='id_produto_associado', right_on='id_produto', how='left')
print("\n--- Após merge com produtos ---")
print(df_consolidado.head())
print(f"Shape final consolidado: {df_consolidado.shape}")

# Renomear colunas para evitar confusão
df_consolidado.rename(columns={
    'nome_produto': 'produto_associado_nome',
    'categoria': 'produto_associado_categoria',
    'preco': 'produto_associado_preco'
}, inplace=True)
print("\nColunas renomeadas para maior clareza.")
print(df_consolidado.head())

# 4. Salvar os dados consolidados
output_file = os.path.join(processed_data_path, 'dados_ecommerce_consolidados.csv')
df_consolidado.to_csv(output_file, index=False)
print(f"\nDados consolidados salvos em: {output_file}")

print("\nEtapa de Exploração e Consolidação Concluída!")

Dados carregados com sucesso!

--- df_clientes Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_cliente     5000 non-null   int64
 1   nome_cliente   5000 non-null   object
 2   email_cliente  5000 non-null   object
 3   pais           5000 non-null   object
dtypes: int64(1), object(3)
memory usage: 156.4+ KB

--- df_clientes Head ---
   id_cliente nome_cliente         email_cliente       pais
0           1    Cliente 1  cliente1@exemplo.com     México
1           2    Cliente 2  cliente2@exemplo.com  Argentina
2           3    Cliente 3  cliente3@exemplo.com     Canadá
3           4    Cliente 4  cliente4@exemplo.com     Canadá
4           5    Cliente 5  cliente5@exemplo.com   Colômbia

--- df_produtos Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_produto    1000 non-null   int64
 1   nome_produto  1000 non-null   object
 2   categoria     1000 non-null   object
 3   preco         1000 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 31.4+ KB

--- df_produtos Head ---
   id_produto nome_produto   categoria   preco
0           1    Produto 1  Brinquedos   28.87
1           2    Produto 2      Beleza  985.16
2           3    Produto 3    Esportes  620.56
3           4    Produto 4  Brinquedos  781.93
4           5    Produto 5      Roupas  226.79

--- df_pedidos Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pedido             10000 non-null  int64
 1   id_cliente            10000 non-null  int64
 2   data_pedido           10000 non-null  object
 3   valor_total           10000 non-null  float64
 4   id_produto_associado  10000 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 390.8+ KB

--- df_pedidos Head ---
   id_pedido  id_cliente data_pedido  valor_total  id_produto_associado
0          1        1061  2023-10-29      2770.21                   928
1          2         199  2023-02-27       357.21                   473
2          3        2675  2024-11-07      4928.99                   401
3          4        1433  2024-04-09       680.26                   768
4          5        1704  2024-02-06       832.94                   513

'data_pedido' convertida para datetime.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pedido             10000 non-null  int64
 1   id_cliente            10000 non-null  int64
 2   data_pedido           10000 non-null  datetime64[ns]
 3   valor_total           10000 non-null  float64
 4   id_produto_associado  10000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 390.8 KB

--- Após merge com clientes ---
   id_pedido  id_cliente data_pedido  valor_total  id_produto_associado  \
0          1        1061  2023-10-29      2770.21                   928
1          2         199  2023-02-27       357.21                   473
2          3        2675  2024-11-07      4928.99                   401
3          4        1433  2024-04-09       680.26                   768
4          5        1704  2024-02-06       832.94                   513

   nome_cliente            email_cliente     pais
0  Cliente 1061  cliente1061@exemplo.com     Peru
1   Cliente 199   cliente199@exemplo.com  Espanha
2  Cliente 2675  cliente2675@exemplo.com    Chile
3  Cliente 1433  cliente1433@exemplo.com     Peru
4  Cliente 1704  cliente1704@exemplo.com   México
Shape após merge com clientes: (10000, 8)

--- Após merge com produtos ---
   id_pedido  id_cliente data_pedido  valor_total  id_produto_associado  \
0          1        1061  2023-10-29      2770.21                   928
1          2         199  2023-02-27       357.21                   473
2          3        2675  2024-11-07      4928.99                   401
3          4        1433  2024-04-09       680.26                   768
4          5        1704  2024-02-06       832.94                   513

   nome_cliente            email_cliente     pais  id_produto nome_produto  \
0  Cliente 1061  cliente1061@exemplo.com     Peru         928  Produto 928
1   Cliente 199   cliente199@exemplo.com  Espanha         473  Produto 473
2  Cliente 2675  cliente2675@exemplo.com    Chile         401  Produto 401
3  Cliente 1433  cliente1433@exemplo.com     Peru         768  Produto 768
4  Cliente 1704  cliente1704@exemplo.com   México         513  Produto 513

           categoria   preco
0             Livros  355.54
1             Roupas  973.40
2           Esportes  584.43
3         Brinquedos  277.48
4  Artigos para Casa  577.02
Shape final consolidado: (10000, 12)

Colunas renomeadas para maior clareza.
   id_pedido  id_cliente data_pedido  valor_total  id_produto_associado  \
0          1        1061  2023-10-29      2770.21                   928
1          2         199  2023-02-27       357.21                   473
2          3        2675  2024-11-07      4928.99                   401
3          4        1433  2024-04-09       680.26                   768
4          5        1704  2024-02-06       832.94                   513

   nome_cliente            email_cliente     pais  id_produto  \
0  Cliente 1061  cliente1061@exemplo.com     Peru         928
1   Cliente 199   cliente199@exemplo.com  Espanha         473
2  Cliente 2675  cliente2675@exemplo.com    Chile         401
3  Cliente 1433  cliente1433@exemplo.com     Peru         768
4  Cliente 1704  cliente1704@exemplo.com   México         513

  produto_associado_nome produto_associado_categoria  produto_associado_preco
0            Produto 928                      Livros                   355.54
1            Produto 473                      Roupas                   973.40
2            Produto 401                    Esportes                   584.43
3            Produto 768                  Brinquedos                   277.48
4            Produto 513           Artigos para Casa                   577.02

Dados consolidados salvos em: ..\data\processed\dados_ecommerce_consolidados.csv

Etapa de Exploração e Consolidação Concluída!